html {
  height: 100%
}
body {
  background-color: #fff;
  color: #333;
  margin: 0;
  height: 100%;
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

// a {
//   color: #000; }

// a:visited {
//   color: rgb(0, 0, 0); }

// a:hover {
//   color: #fff;
//   background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }


input[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=radio] + div {
  cursor: pointer;
}

input[type=radio]:checked + div {
  // outline: 2px solid #f00;
  border: 4px solid rgb(139, 137, 137);
}

div.black {
  background-color: #000000 ;
  color: #000000;
}
div.category-black {
  border-color:#000000
}
input.black {
  border-color:#000000
}
input[type="checkbox"].black:checked {
  color: #000000;
}

div.blue {
  background-color: #63baec ;
  color: #63baec;
}
div.category-blue {
  border-color:#63baec
}
input.blue {
  border-color:#63baec
}
input[type="checkbox"].blue:checked {
  color: #63baec;
}


div.purple {
  background-color:#607afc ;
  color: #607afc;
}
div.category-purple {
  border-color:#607afc;
}
input.purple {
  border-color:#607afc
}
input[type="checkbox"].purple:checked {
  color: #607afc;
}


div.orange {
  background-color: #fda900 ;
  color: #fda900;
}
div.category-orange {
  border-color:#fda900
}
input.orange {
  border-color:#fda900
}
input[type="checkbox"].orange:checked {
  color: #fda900;
}

div.green {
  background-color: #94f5a1 ;
  color: #94f5a1;
}
div.category-green {
  border-color:#94f5a1
}
input.green {
  border-color:#94f5a1
}
input[type="checkbox"].green:checked {
  color: #94f5a1;
}

div.red {
  background-color: #f38282 ;
  color: #f38282;
}
div.category-red {
  border-color:#f38282
}
input.red {
  border-color:#f38282
}
input[type="checkbox"].red:checked {
  color: #f38282;
}

div.yellow {
  background-color: #ffe056 ;
  color: #ffe056;
}
div.category-yellow {
  border-color:#ffe056
}
input.yellow {
  border-color:#ffe056
}
input[type="checkbox"].yellow:checked {
  color: #ffe056;
}